@use '@/styles/_variables' as vars;

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 24px 0;
  min-height: 52px;

  h2 {
    margin-left: 5px;
    // 텍스트
    color: #333;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 26px */
  }
}

.rightActions {
  display: flex;
  gap: 20px;
  align-items: center;
}
