@use '@/styles/variables' as vars;

@mixin align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  @include align-center();

  padding: 46px 480px;
  width: 100vw;
  height: 100vh;

  // Background
  background-image: url('@/assets/images/login-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginModal {
  @include align-center();

  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 2rem;
  width: 100%;
  max-width: 960px;
  min-width: 480px;
  height: 100%;
  max-height: 988px;
  min-width: 480px;
}

.loginHeader {
  @include align-center();
  gap: 18px;

  h1 {
    font-family: 'pretendard';
    font-weight: 700;
    font-style: bold;
    font-size: clamp(2rem, 1.5vw, 3rem);
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.inputWrapper {
  @include align-center;
  gap: 0.5rem;
  width: 55%;

  color: red;
}

.input {
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 15px;

  &::placeholder {
    font-size: 120%;
    font-weight: 600;
    display: flex;
  }
}

.buttonWrapper {
  @include align-center();
  gap: 0.5rem;
  width: 100%;

  color: vars.$mid-color;
}
