@use '@/styles/_variables' as vars;

.pagination {
  display: flex;
  align-items: center;
  margin-right: 22px;
  gap: 12px;

  .numBtnContainer {
    display: flex;
    gap: 4px;
  }
  .numberBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;

    border-radius: 8px;

    // 텍스트
    color: vars.$color-666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */

    // 숫자 버튼 호버 스타일
    &:not(:has(img)):hover {
      background: vars.$color-eef8ff;
    }

    &.activePage {
      color: vars.$color-1755e5;
      background: vars.$color-f8f8f8;
    }
  }

  .navBtnContainer {
    display: flex;
    gap: 12px;
  }

  @mixin navigationBtn {
    width: 46px;
    height: 46px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid vars.$color-ddd;
  }
  .firstBtn {
    @include navigationBtn();
    background: url('@/assets/images/ico-last.svg') center no-repeat;
    transform: rotate(180deg); // 회전
  }
  .prevBtn {
    @include navigationBtn();
    background: url('@/assets/images/ico-spread.svg') center no-repeat;
    transform: rotate(-90deg); // 회전
  }
  .nextBtn {
    @include navigationBtn();
    background: url('@/assets/images/ico-spread.svg') center no-repeat;
    transform: rotate(90deg); // 회전
  }
  .lastBtn {
    @include navigationBtn();
    background: url('@/assets/images/ico-last.svg') center no-repeat;
  }
}
