@use '@/styles/_variables' as vars;

.emptyContentContainer {
  padding: 100px 0;

  box-sizing: border-box;
  border-radius: 24px;
  border: 1px solid vars.$color-ddd;

  text-align: center;

  .cautionIcon {
    display: inline-block;
    width: 83px;
    height: 80px;
    background: url('@/assets/images/ico-caution.svg') no-repeat center;
    background-size: auto;
    margin-bottom: 28px;
  }

  p {
    color: vars.$color-333333de;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
