@use '@/styles/_variables' as vars;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: vars.$color-00000066;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: vars.$color-fff;
  padding: 28px 24px 30px 24px;
  border-radius: 12px;
  width: 650px;
  /* height == 429 -> 토글 때문에 잠시 주석 */
  max-width: 90%;
}

.popupHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.popupTitle {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.inputWrap p {
  font-size: 1rem;
  font-weight: bold;
}

.inputWrap:last-of-type {
  margin-bottom: 50px;
}

.inputWrap input {
  width: 100%;
  height: 45px;
  border: 1px solid vars.$color-ccc;
}

.inputWrap input::placeholder {
  color: vars.$color-999;
}

.inputWrap .error {
  border-color: vars.$color-f00;
}

.warning {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.warning p {
  color: vars.$color-f00;
  font-size: 14px;
  font-weight: normal;
}
