.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 40px;
}

.popupDoubleButton {
  justify-content: center;
  margin-top: 60px;
  gap: 20px;
}

.popupSingleButton {
  justify-content: center;
  margin-top: 60px;
}

.alertSingleButton,
.alertDoubleButton {
  margin-top: 0;
}

.alertDoubleButton{
  gap: 20px;
}
