.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
}

.popupDoubleButton {
  justify-content: center; 
  margin-top: 60px;
  gap: 20px;
}

.popupSingleButton {
  justify-content: center; 
  margin-top: 60px;
}
