.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;

  button {
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    font-size: large;

    &:hover {
      background: #ddd;
    }
  }

  .activePage {
    text-decoration: underline;
  }
}

.prev,
.next {
  width: 70px;
}
