@use '@/styles/_variables' as vars;

.button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: vars.$primary-color;
  color: white;
}

.filesearch {
  height: 50px;
  background-color: vars.$retrieve-color;
  font-size: 1rem;
}

.enrolll {
  background-color: vars.$enroll-color;
}

.check {
  width: 95%;
  height: 50px;
  background-color: vars.$check-color;
  font-size: 18px;
}

.delete {
  background-color:vars.$white-color;
  border: 1px solid #757575;
  color: #757575;
}

.primary {
  background-color: vars.$primary-color;
}

.disabled {
  background-color: vars.$mid-color;
}

.cancel {
  background-color: white;
  border: 1px solid vars.$mid-color;
  color: vars.$mid-color;
}

.fullWidth {
  width: 100%;
}

.retrieve { 
  width: 90px;
  height: 50px;
  background-color: vars.$retrieve-color;
  font-size: 18px;
}

.enroll { /* 버튼 사이즈는 다 공통으로 두고 색깔만 바꾸는 로직이라.. 일단 다른 사이즈들도 필요하니 추가 */
  width: 80px;
  height: 50px;
  font-size: 20px;
}

.list {
  background-color: vars.$bg-color;
  border: 1.5px solid vars.$primary-color;
  color: vars.$primary-color;
}