@use '@/styles/_variables' as vars;

.itemsWrapper {
  display: flex;
  gap: 58px;
}

.deptpoWrapper {
  display: flex;
  gap: 24px;
}

.radio {
  display: flex;
  gap: 6px;
  align-items: center;

  // 텍스트
  color: vars.$color-757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  box-sizing: border-box;

  input[type='radio'] {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 7px solid vars.$color-ddd;
  }
  input[type='radio']:checked {
    border: 7px solid vars.$color-1692ff;
  }
  label {
    color: vars.$color-757575;
  }
  input[type='radio']:checked + label {
    color: vars.$color-222;
  }
}
