@use '@/styles/_variables' as vars;

.layout {
  // 세로 flex 배치
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;
}

.body {
  // 가로 flex 배치
  display: flex;
  flex-direction: row;

  flex: 1; // body 영역이 남은 공간 꽉 차게
  overflow: hidden; // body의 스크롤 제한 영역을 만들어줘, main의 overflow-y: auto가 정상 작동하도록 함
}

.main {
  flex: 1; // 남은 공간 다 차지(flex grow 1, flex shrink 1, flex basis 0)
  overflow-y: auto; // 콘텐츠만 스크롤
  padding: 50px;
}
