.Copyright {
  color: #757575;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}

.LNB_bottom {
  position: absolute;
  bottom: 0;
  padding: 40px 10px;
}

.Login_bottom {
  position: absolute;
  bottom: 0;
  padding: 30px;
}
