@use '@/styles/_variables' as vars;

.button {
  width: 100%;
  height: auto;
  padding: 18px;

  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid vars.$color-ddd;

  background: vars.$color-gradient;

  // 텍스트
  color: vars.$color-fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
