$white-color: #fff;
$bright-color: #dedede;
$mid-color: #a1a1a1;
$dark-color: #333;
$primary-color: #0051a2;
$dark-primary-color: #0a3f74;
$bg-color: #f6f7fb;
$gradient-color: linear-gradient(90deg, #5a8fff, #b0efe2);

$border: 1px solid $bright-color;
$padding: 1rem;

$header-height: 10%;
$LNB-width: 20%;
