$white-color: #fff;
$gray-line-1: #eee;
$gray-line-2: #ddd;
$bright-color: #dedede;
$mid-color: #a1a1a1;
$dark-color: #333;
$primary-color: #0051a2;
$dark-primary-color: #0a3f74;
$bg-color: #ffffff;/* 2025/07/19 배경색 변경*/
$gradient-color: linear-gradient(90deg, #5a8fff, #b0efe2);

$border: 1px solid $bright-color;
$padding: 1rem;

$header-height: 10%;
$LNB-width: 370px;

