$color-1755e5: #1755e5;
$color-1692ff: #1692ff;
$color-24b2ff: #24b2ff;
$color-555ff9: #555ff9;
$color-55a3f6: #55a3f6;
$color-f3f6f8: #f3f6f8;
$color-e4e5e7: #e4e5e7;
$color-fbfcfd: #fbfcfd;
$color-eef8ff: #eef8ff;

$color-fff: #fff;
$color-ccc: #ccc;
$color-ddd: #ddd;
$color-eee: #eee;
$color-757575: #757575;
$color-999: #999;
$color-666: #666;
$color-454545: #454545;
$color-333: #333;
$color-222: #222;
$color-111: #111;

$color-333333de: rgba(51, 51, 51, 0.871);
$color-00000066: rgba(0, 0, 0, 0.4);

$color-f00: #f00;
$color-f8f8f8: #f8f8f8;

$color-fff1e6: #fff1e6;
$color-f76900: #f76900;

$color-gradient: linear-gradient(90deg, $color-55a3f6 0%, $color-555ff9 50.48%, $color-55a3f6 100%);
