.itemsWrapper {
  display: flex;
  gap: 58px;
}

.checkbox {
  display: flex;
  gap: 6px;
  align-items: center;

  // 텍스트
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  box-sizing: border-box;

  input[type='checkbox'] {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ddd;
    background: #ddd url('@/assets/images/ico-check.svg') no-repeat center/16px 16px;
  }
  input[type='checkbox']:checked {
    background: #1692ff url('@/assets/images/ico-check.svg') no-repeat center/16px 16px;
  }
  label {
    color: #757575;
  }
  input[type='checkbox']:checked + label {
    color: #222;
  }
}
