@use '@/styles/_variables' as vars;

.itemsWrapper {
  display: flex;
  gap: 58px;
}

.checkbox {
  display: flex;
  gap: 6px;
  align-items: center;

  // 텍스트
  color: vars.$color-757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  box-sizing: border-box;

  input[type='checkbox'] {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: vars.$color-ddd;
    background: vars.$color-ddd url('@/assets/images/ico-check.svg') no-repeat center/16px 16px;
  }
  input[type='checkbox']:checked {
    background: vars.$color-1692ff url('@/assets/images/ico-check.svg') no-repeat center/16px 16px;
  }
  label {
    color: vars.$color-757575;
  }
  input[type='checkbox']:checked + label {
    color: vars.$color-222;
  }
}
