.detailBadge {
  position: absolute;
  top: 25px; 
  left: 160px; 
  background-color: #fff1e6;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 0.8em;
  color: #f76900;
}

.BorderTop {
  border-top: 4px solid #eee;
}