@use '@/styles/_variables' as vars;

.container {

  display: grid;
  gap: 1rem;
  padding: vars.$padding;
  position: relative; 
  margin-left: 40px; /* LNB 오른쪽 40px */
  margin-right: 40px; /* 오른쪽 여백 40px */

  h1 {
    font-weight: bold;
    font-size: 32px;
    color: #111111;
    margin-bottom: 20px;
    margin-left: 14px;
  }
}
