@use '@/styles/_variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  // position: relative;

  h1 {
    margin: 5px;
    // 텍스트
    color: #111;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
  }
}
