.topArea {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  margin-bottom: 20px;
}

.searchFilterArea {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end; /* 오른쪽 정렬 추가 */
}

.selectWrapper {
  /* Select 컴포넌트가 들어갈 자리 */
}

.selectInputPlaceholder {
  /* Select 컴포넌트가 들어갈 자리의 Input 스타일 */
}

.bottomRightButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* 필요에 따라 조정 */
}