@use '@/styles/_variables.scss' as vars;
@use '@/styles/_mixins.scss' as mixin;

.Lnb {
  width: 20%;
  max-width: 370px;
  height: 100%;
  background: vars.$color-fff;
  color: vars.$color-333;
  display: block;
  padding: 0 14px;
  border-right: 2px solid vars.$color-eee;
  border-bottom: 2px solid vars.$color-eee;
  border-left: 2px solid vars.$color-eee;
}

.Menu {
  display: flex;
  flex-direction: column;
  height: calc(100% - 94px);
  overflow-y: auto;
  section + section {
    border-top: 1px solid vars.$color-eee;
    margin-top: 30px;
  }
}

.MenuTitle {
  padding: 20px 14px;
  margin-top: 4px;

  // 텍스트
  color: vars.$color-757575;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
}

.SubMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SubMenuItem {
  display: flex;
  align-items: center;
  padding: 18px;
  // 텍스트
  color: vars.$color-333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  // 상자
  border-radius: 4px;
  &:hover,
  &.selected {
    background: vars.$color-f3f6f8;
  }
}

// 메뉴 아이콘
.Icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1rem;
}
$icons: (
  admin: 'ico-admin',
  policy: 'ico-policy',
  stats: 'ico-stats',
  notice: 'ico-notice',
  answer-board: 'ico-answer-board',
  event: 'ico-event',
  resources: 'ico-resources',
  faq: 'ico-faq',
);

@each $name, $file in $icons {
  .#{$name} {
    background-image: url('@/assets/images/#{$file}.svg');

    .SubMenuItem:hover &,
    .SubMenuItem.selected & {
      background-image: url('@/assets/images/#{$file}-selected.svg');
    }
  }
}
