@use '@/styles/_variables.scss' as vars;
@use '@/styles/_mixins.scss' as mixin;

.Lnb {
  width: vars.$LNB-width;
  height: 100%;

  background: vars.$white-color;

  // display: block;
  // flex-direction: column;
  // z-index: 0;
  // padding-top: 300px;
}

.Menu {
  display: flex;
  flex-direction: column;

  .MenuTitle {
    display: flex;
    justify-content: space-between;
  }

  .SubMenuItem {
    display: grid;
    cursor: pointer;
    text-decoration: none;
    color: vars.$dark-color;
  }
}
