@use '@/styles/_variables' as vars;

.list {
  table-layout: fixed;
  overflow: hidden;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 1px solid vars.$color-e4e5e7;
  box-sizing: border-box;

  th,
  td {
    border-top: 1px solid vars.$color-e4e5e7; /* 기본 border-top */
    padding: 20px;
    text-align: center;
  }

  th {
    background-color: vars.$color-fbfcfd;
    border-top: 2px solid vars.$color-e4e5e7; /* th의 border-top을 더 두껍게 */

    color: vars.$color-454545;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
  }

  tr:hover td {
    background: vars.$color-eef8ff;
  }

  td {
    color: vars.$color-333;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  th + th,
  td + td {
    border-left: 1px solid vars.$color-e4e5e7;
  }
}

$sizes: (
  xxs: 104px,
  xs: 150px,
  mxs: 162px,
  sm: 173px,
  msm: 197px,
  lsm: 211px,
  md: 225px,
  lg: 249px,
  xl: 292px,
  lxl: 384px,
  xlxl: 565px,
);

@each $name, $width in $sizes {
  .#{$name} {
    width: $width;
  }
}
.auto {
  width: auto;
}
