@use '@/styles/_variables' as vars;

@mixin t {
  border-top: vars.$border;
  border-right: vars.$border;
  padding: 0.75rem;
  text-align: center;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  border-left: vars.$border;
  border-radius: 0.75rem;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 5px 5px rgba(54, 54, 54, 0.103);

  th {
    @include t;
    background-color: vars.$bg-color;
  }

  td {
    @include t;
  }

  tbody {
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 0.75rem;
      }
      td:last-child {
        border-bottom-right-radius: 0.75rem;
      }
    }

    tr:hover {
      background-color: vars.$bg-color;
    }
  }
}

.text {
  display: flex;
  align-items: flex-start;
}
