.formWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3rem;

  .formLabel {
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 600;
    }
    .formSubtext {
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }

  .formChildren {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    input {
      // min-width: 300px;
      height: 90%;
    }
    button {
      min-width: 100px;
      height: 90%;
    }
  }
}
