@use '@/styles/_variables' as vars;
    
.formWrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 0;
  border-bottom: vars.$border;

  &.noBorderBottom {
    border-bottom: none;
  }

  .formLabel {
    flex: 0 0 25%; /* 고정 너비 */
    text-align: left;

    h3 {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .formSubtext {
      font-size: 0.85em;
      color: #666;
    }
  }

  .formChildren {
    flex: 1; /* 남은넓이 전체 사용 */
    display: flex;
    flex-direction: column; 
    gap: 10px; 


    input,
    textarea {
      max-width: 530px;
    }

    textarea {
      min-height: 413px; /* textarea 최소 높이 설정 */
    }
  }
}