@use '@/styles/_variables' as vars;
@use '@/styles/_mixins' as mixins;

@mixin input {
  width: 100%;
  height: 50px;
  padding: 12px 25px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;

  &::placeholder {
    color: #999;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
  }

  &:focus {
    border: 1px solid #24b2ff;
    outline: none;
  }
}

.textInput {
  @include input;
}

.contentInput {
  @include input;
}

.itemsWrapper {
  @include mixins.items-wrapper;
}

.searchBarWrapper {
  display: flex;

  form {
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    position: relative;
  }

  input {
    @include input;
    width: 100%;
    padding: 1rem;
    padding-left: 2.5rem;
  }

  button {
    position: absolute;
    left: 0.5rem; /* 왼쪽으로 이동 */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60%;
    aspect-ratio: auto 1 / 1;
  }

  .image {
    width: 16px; /* 아이콘 크기 줄임 */
    height: 16px;
    background-image: url('../../assets/images/search.svg');
    background-size: contain;
  }
}

.fileInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  &.hasFile::before {
    content: '';
    position: absolute;
    left: 27px;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    background: url('@/assets/images/ico-file.svg') no-repeat center/contain;
  }
}

.fileNameInput {
  @include input;
  flex-grow: 1;
  padding-left: 59px; // 아이콘 공간 확보

  color: #1755e5;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.hiddenFileInput {
  display: none;
}
