@use '@/styles/_variables' as vars;
@use '@/styles/_mixins' as mixins;

@mixin input {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.75rem;
  border: vars.$border;
  border-radius: 5px;
}

.textInput {
  @include input;
}

.contentInput {
  @include input;
}

.itemsWrapper {
  @include mixins.items-wrapper;
}

.checkbox {
  display: flex;
  gap: 0.5rem;
}

.searchBarWrapper {
  display: flex;
  /* justify-content: flex-end; */

  form {
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    position: relative;
  }

  input {
    @include input;
    width: 100%;
    padding: 1rem;
    padding-left: 2.5rem; 
  }

  button {
    position: absolute;
    left: 0.5rem; /* 왼쪽으로 이동 */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    height: 60%;
    aspect-ratio: auto 1 / 1;
  }

  .image {
    width: 16px; /* 아이콘 크기 줄임 */
    height: 16px; 
    background-image: url('../../assets/images/search.svg');
    background-size: contain;
  }
}

.fileInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fileNameInput {
  @include input;
  flex-grow: 1;
}

.hiddenFileInput {
  display: none;
}
