@use '@/styles/_variables' as vars;

.wrapper {
  display: flex;
  flex-direction: column;

  background: vars.$white-color;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;

  h2 {
    margin-left: 5px;
    // 텍스트
    color: #333;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 26px */
  }
}
