@use '@/styles/_variables' as vars;

.wrapper {
  display: grid;
  /* gap: 2rem; */ /* 2025/07/23 wrapper의 gap을 없애고 form.module.scss에 formwrap에 padding 주는게 더 스타일 잡기 편함 */

  padding: 1rem;
  background: vars.$white-color;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* 250723 h2에 마진줬던거 이쪽으로 옮김 */

  h2 {
    font-weight: bold;
    font-size: 26px;
    color: #333333;
  }
}
