.button {
  width: 55%;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-size: clamp(1rem, 1.25rem, 2rem);
  background: linear-gradient(90deg, #55a3f6 0%, #555ff9 50.48%, #55a3f6 100%);
}
