@use '@/styles/_variables' as vars;

.list {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: vars.$border;

  th,
  td {
    border-top: vars.$border; /* 기본 border-top */
    padding: 0.75rem;
    text-align: center;
  }

  th {
    background-color: #FBFCFD;
    border-top: 2px solid vars.$bright-color; /* th의 border-top을 더 두껍게 */
  }

  th + th,
  td + td {
    border-left: vars.$border;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  tbody {
    tr:hover {
      background-color: vars.$bg-color;
    }
  }
}

.paginationAndActionButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
