@use '@/styles/_variables' as vars;

.list {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: vars.$border;

  th,
  td {
    border-top: vars.$border; /* 기본 border-top */
    padding: 20px 48px;
    text-align: center;
  }

  th {
    background-color: #fbfcfd;
    border-top: 2px solid vars.$bright-color; /* th의 border-top을 더 두껍게 */

    color: var(--Font-45, #454545);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
  }
  tr:hover td {
    background: #eef8ff;
  }

  td {
    color: var(--Text, #333);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
  }

  th + th,
  td + td {
    border-left: vars.$border;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  tbody {
    tr:hover {
      background-color: vars.$bg-color;
    }
  }
}
