@use '@/styles/_variables' as vars;

.list {
  table-layout: fixed;
  overflow: hidden;
  width: 100%;

  border-collapse: separate;
  border-spacing: 0;
  border-bottom: 1px solid #e4e5e7;
  box-sizing: border-box;

  th,
  td {
    border-top: 1px solid #e4e5e7; /* 기본 border-top */
    padding: 20px 48px;
    text-align: center;
  }

  th {
    background-color: #fbfcfd;
    border-top: 2px solid #e4e5e7; /* th의 border-top을 더 두껍게 */

    color: #454545;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
  }

  tr:hover td {
    background: #eef8ff;
  }

  td {
    color: #333;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
  }

  th + th,
  td + td {
    border-left: 1px solid #e4e5e7;
  }
}

.xs {
  width: 150px;
}
.sm {
  width: 173px;
}
.md {
  width: 225px;
}
.lg {
  width: 249px;
}
.xl {
  width: 292px;
}
.auto {
  width: auto;
}
